---
layout: default
---

<div class="row padded">
    <div class="col col--important">
        <div class="row row--vertical">
            <div class="col">
                <div class="box box--lined">
                    <h3 class="title--section">Nos expertises.</h3>
                    <div class="content">
                        <!--div class="camp-img">
                            <img src="{{ '/assets/images/camp.png' | relative_url }}" alt="camp" usemap="#camp">
                            <map name="camp">
                                <area shape="rect" coords="100,0,400,100" href="#about-camp" alt="Campement"/>
                            </map>
                        </div-->
                        <p id="about-camp">Chez OCTO Toulouse, nous sommes fiers d’accompagner vos équipes dans leur contexte de transformation et de réalisation logicielle.
Nous avons à coeur de co-construire des solutions sur mesure en transmettant notre savoir-faire end-to-end. </p>

                        <div class="flex bloc-expertises">
                            <div class="row">
                                <div class="col-2 align-vertically">
                                    <img src="{{ '/assets/images/expertises/img_fusee.png' | relative_url }}" class="img-illustration" alt="Expertises méthodologies et changes" usemap="#camp">
                                    <div>
                                        <h4>Méthodo & Change</h4>
                                        <ul>
                                            <li>Agile, Kanban</li>
                                            <li>Facilitation </li>
                                            <li>Accompagnement au changement</li>
                                            <li>Coaching d’organisation et coaching d’équipe</li>
                                            <li>Cadrage 360°</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-2 align-vertically">
                                    <img src="{{ '/assets/images/expertises/img_microscope.png' | relative_url }}" class="img-illustration" alt="Data et Cognitive automation" usemap="#camp">
                                    <div>
                                        <h4>Data & Cognitive Automation</h4>
                                        <ul>
                                            <li>Data engineering</li>
                                            <li>Data science, Intelligence Artificielle</li>
                                            <li>ML Ops</li>
                                            <li>Data ops</li>
                                            <li>Architecture data</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-2 align-vertically">
                                    <img src="{{ '/assets/images/expertises/img_coffre_tresor.png' | relative_url }}" class="img-illustration" alt="Software engineering" usemap="#camp">
                                    <div>
                                        <h4>Software engineering</h4>
                                        <ul>
                                            <li>Réalisation et co-réalisation de logiciels</li>
                                            <li>Culture DevOps</li>
                                            <li>Culture Craftsmanship</li>
                                            <li>Construction d’équipes de réalisation : team is the product</li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="col-2 align-vertically">
                                    <img src="{{ '/assets/images/expertises/securite.png' | relative_url }}" class="img-illustration" alt="Securite" usemap="#camp">
                                    <div>
                                        <h4>DevSECOPS</h4>
                                        <ul>
                                            <li>Démarche DevSecOps, tooling sécurité applicative et sécurisation chaines CI/CD</li>
                                            <li>Infrastructure as Code et automatisation</li>
                                            <li>Infrastructures cloud et container sécurisées</li>
                                            <li>Démarche d'architecture sécurité</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <p class="subtitle m-t" >… en complémentarité avec toute la communauté “remote” de 800 passionnés et experts disponibles pour contribuer aux besoins. </p>
                    </div>
                </div>
            </div>

            <!--
            <div class="col">
                <div class="box content">
                    <h3 class="title--section">Nos BBL.</h3>

                    {% for bbl in site.data.bbl %}
                    {% include bbl.html bbl=bbl %}
                    {% endfor %}
                </div>
            </div>
            -->
			<div class="col">
				<div class="box content">
					<h3 class="title--section">L'équipe.</h3>

					<div class="row">
						{% for people in site.data.people %}
						<a class="col people-card" href="/equipe.html#{{people.poly}}">
							<img
								src="{{ '/assets/images/people/' | append: people.poly | append: '.jpg' | relative_url }}"
								alt="{{people.name}}">
							<h4 class="text-center">
								{{people.name}}
								<br>
								<small class="peoplejob" >{{people.job}}</small>
							</h4>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
        </div>
    </div>

    <div class="col">
        <div class="row row--vertical">
            <div class="col">
                <div class="box content">
                    <h2>OCTO recrute à Toulouse.</h2>

                    <p>Plus qu'une <b class="emphase">Great Place To Work</b>, OCTO se vit en interne comme une
                        véritable <b class="emphase">Best Place To Grow</b>.</p>
					<a href="/join-us.html" style="width:100%;" class="btn text-center">Rejoignez-nous !</a> <p />
                    <img src="assets/images/GPTW.jpg">
                    <img class="img-bcorp" src="assets/images/BCorp-black.png">

                </div>
            </div>

            <div class="col">
                <div class="box">
                    <h3 class="title--section">Suivez-nous.</h3>

                    <div class="content">
                        <a class="twitter-timeline" data-height="600"
                           href="https://twitter.com/OctoToulouse?ref_src=twsrc%5Etfw">Tweets by octo toulouse</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>

            <!--div class="col">
                <div class="box">
                    <h3 class="title--section">Évènements.</h3>

                    <div class="content">
                        {% unless site.data.events %}
                        <small>Aucun évenement pour le moment.</small>
                        {% endunless %}

                        {% for event in site.data.events limit: 3 %}
                        {% include event.html event=event %}
                        {% endfor %}
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

<!--div class="row row--vertical">

</div-->
<div class="row row--vertical">
    <div class="col">
        <div class="box content">
            <h3 class="title--section">Le campement.</h3>

            <div class="row row--alignCenter padded">
                <div class="col">
                    <a href="{{ '/assets/images/now-coworking/1.jpg' | relative_url }}" target="_blank"><img src="{{ '/assets/images/now-coworking/1.jpg' | relative_url }}" alt="Now Coworking"></a>
                </div>

                <div class="col">
                    <a href="{{ '/assets/images/now-coworking/2.jpg' | relative_url }}" target="_blank"><img src="{{ '/assets/images/now-coworking/2.jpg' | relative_url }}" alt="Now Coworking"></a>
                </div>
                <div class="col">
                    <a href="{{ '/assets/images/now-coworking/4.jpg' | relative_url }}" target="_blank"><img src="{{ '/assets/images/now-coworking/4.jpg' | relative_url }}" alt="Now Coworking"></a>
                </div>

                <div class="col">
                    <a href="{{ '/assets/images/now-coworking/3.jpg' | relative_url }}" target="_blank"><img src="{{ '/assets/images/now-coworking/3.jpg' | relative_url }}" alt="Now Coworking"></a>
                </div>

            </div>
        </div>
    </div>
</div>
